/*分类*/
.list-wrapper {
	width: 1200px;
	height: auto;
	border: 1px solid #dfdfdf;
	margin: 0 auto;
}
.list-wrapper .ul-1 {
	box-sizing: border-box;
	display: flex;
	background: #f2f2f5;
}
.list-wrapper .ul-1 .li {
	width: calc(100% / 8);
	height: 62px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.list-wrapper .ul-1 .li .line-up{
	display: none;
}
.list-wrapper .ul-1 .li .line-down{
	display: none;
}

.list-wrapper .ul-1 .line-up{
	position: absolute;
	width: 100%;
	height: 3px;
	background: #b12f2a;
	top: -1px;
	left: 0;
}
.list-wrapper .ul-1 .line-down{
	position: absolute;
	width: 100%;
	height: 1px;
	background: #fff;
	top: 100%;
	left: 0;
}
.list-wrapper .ul-1 .li .text {
	color: #333;
	cursor: pointer;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.list-wrapper .ul-1 .active {
	background: #fff;
	color: #b12f2a;
	box-sizing: border-box;
}


.list-wrapper .ul-1 .active .text {
	color: #b12f2a;
}
.list-wrapper .ul-1 .active .line-up {
	display: block;
}
.list-wrapper .ul-1 .active .line-down {
	display: block;
}

.list-wrapper .ul-1 .li:hover {
	background: #fff;
	color: #b12f2a;
}
.list-wrapper .ul-1 .li:hover .text {
	color: #b12f2a;
}
.list-wrapper .ul-1 .li:hover .line-up {
	display: block;
}
.list-wrapper .ul-1 .li:hover .line-down {
	display: block;
}