.page-turning {
	padding: 22px 0 0;
	border-top: 1px dashed #dfdfdf;
}
.page-turning dl {
	display: flex;
	margin: 12px 0 0;
}
.page-turning dl:first-child {
	margin: 0;
}
.page-turning dl dd:hover {
	color: #b12f2a;
}
.page-turning dl dd:hover a {
	color: #b12f2a;
}