@import './header.css';
@import './banner.css';
@import './navigation.css';
@import './commonlist.css';
@import './commontitle.css';
@import './footer.css';

.content {
	width: 1200px;
	padding: 50px 0 30px;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
}
.content .li-2 {
	margin: 35px 0 0 0;
}
.content .map-list {
	margin: 35px 0 0 0;
}
.content .map-list .map-list-item {
	border-bottom: 1px solid #dfdfdf;
	display: flex;
	padding: 20px 0;
}
.content .map-list .map-list-item:last-child {
	border: none;
}
.content .map-list .map-list-item .left {
	flex: 1;
	margin: 0 20px 0 0;
}
.content .map-list .map-list-item .left .l-1 {
	font-size: 22px;
	line-height: 22px;
	color: #333;
	font-weight: 700;
	margin: 0 0 12px;
}
.content .map-list .map-list-item .left .l-2 {
	display: flex;
	align-items: center;
	padding: 10px 0;
	/*border: 1px solid red;*/
}
.content .map-list .map-list-item .left .l-2 .iconfont {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	margin: 0 20px 0 2px;
	border: 1px solid #b12f2a;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #b12f2a;
}
.content .map-list .map-list-item .left .l-2:nth-child(2) .iconfont {
	font-size: 14px;
}
.content .map-list .map-list-item .left .l-2:nth-child(3) .iconfont {
	font-size: 18px;
}
.content .map-list .map-list-item .left .l-2:nth-child(4) .iconfont {
	font-size: 20px;
}
.content .map-list .map-list-item .left .l-2:nth-child(5) .iconfont {
	font-size: 18px;
}
.content .map-list .map-list-item .left .l-2:nth-child(6) .iconfont {
	font-size: 18px;
}
.content .map-list .map-list-item .left .l-2 .l-1-1 {
	display: flex;
}
.content .map-list .map-list-item .left .l-2 .l-1-1 .l-1-1-1 {
	font-size: 14px;
	line-height: 14px;
	color: #b12f2a;
}
.content .map-list .map-list-item .left .l-2 .l-1-1 .l-1-1-2 {
	font-size: 14px;
	line-height: 14px;
}
.content .map-list .map-list-item .right {
	width: 543px;
	height: 320px;
	border: 1px solid #dfdfdf;
}