@import './header.css';
@import './banner.css';
@import './navigation.css';
@import './commonlist.css';
@import './commontitle.css';
@import './footer.css';

.content {
	width: 1200px;
	padding: 50px 0;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
}
.content .li-2 {
	margin: 35px 0 0 0;
}

.heart-shaped {
	width: 100%;
	height: 335px;
	background: url(../img/201901111555.jpg) no-repeat center;
}
.content .img-1,.img-2,.img-3 {
	position: absolute;
}
.content .img-1 {
	top: 260px;
	left: -360px;
}
.content .img-2 {
	bottom: 562px;
	left: -180px;
}
.content .img-3 {
	top: 80px;
	right: -245px;
}