@import './header.css';
@import './commonb.css';
@import './commonraiders.css';
@import './commonjourna.css';
@import './footer.css';
/*banner*/
.swiper-container-1 {
  width: 100%;
  height: 760px;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide-1 {
	background: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	overflow: hidden;
}
.swiper-button-prev-1 {
	width: 30px!important;
	height: 60px!important;
	background: url(../img/201901081741.png) no-repeat!important;
	left: 50px!important;
}
.swiper-button-next-1 {
	width: 30px!important;
	height: 60px!important;
	background: url(../img/201901081741.png) no-repeat!important;
	transform: rotateZ(180deg);
	right: 50px!important;
}
.swiper-pagination-1 {
	bottom: 30px!important;
}
.swiper-pagination-bullet {
	width: 20px!important;
	height: 20px!important;
	background: #fff!important;
	opacity: 1!important;
}
.swiper-pagination-bullet-active {
	background: #b12f2a!important;
}

/*简介*/
.introduce-wrapper {
	width: 1200px;
	height: 423px;
	/* border: 1px solid blue; */
	display: flex;
	justify-content: space-between;
	margin: 30px auto;
}
.introduce-wrapper .left {
	width: 648px;
	height: 423px;
	/* border: 1px solid red; */
}
.introduce-wrapper .right {
	flex: 1;
	display: flex;
	flex-direction: column;
	/* border: 1px solid red; */
	margin-left: 55px;


}
.introduce-wrapper .right .con {
	/* margin: 60px 0 0 55px; */
	margin: 60px 0 0 0px;
	flex: 1;
}
.introduce-wrapper .right .con h4{
	font-size: 22px;
	font-family: '微软雅黑';
	color: #666666;
	margin-top: 50px;
}
.introduce-wrapper .right .con h4 span{
	font-size: 22px;
	font-family: '微软雅黑';
	color: #c31a23;
}
.introduce-wrapper .right .con p{
	font-size: 16px;
	font-family: '微软雅黑';
	color: #666666;
	margin-top: 40px;
	line-height: 24px;
}
.introduce-wrapper .right .see {
	width: 214px;
	height: 52px;
	font-size: 14px;
	line-height: 52px;
	text-align: center;
	display: block;
	color: #fff;
	background: #b12f2a;
	margin-left:0px;
}

/*主体*/
.main-wrapper {
	width: 100%;
	height: auto;
	background: #f7f7f7;
	overflow: hidden;
	padding: 0 0 30px;
	/* border: 1px solid red; */
}
.main-son-wrapper {
	width: 1200px;
	height: auto;
	/* border: 1px solid red; */
	margin: 0 auto;
}
.main-son-wrapper .s-1 {
	margin: 50px 0 0 0;
}
.main-son-wrapper .s-1 .title-2 {
	font-size: 34px;
	line-height: 34px;
	color: #333;
	text-align: center;
}
.main-son-wrapper .s-1 .info {
	color: #999;
	text-align: center;
	margin: 15px 0 0 0;
}

/*commonb*/


/*推荐日记*/
.Recommend-wrapper {
	width: 100%;
	height: auto;
	/* border: 1px solid red; */
	margin: 43px 0 0 0;
	display: flex;
	justify-content: space-between;
}
.Recommend-wrapper .left {
	width: 890px;
	/* border: 1px solid blue; */
	padding: 28px;
	box-sizing: border-box;
	background: #fff;
}
.Recommend-wrapper .right {
	width: 290px;
	/* border: 1px solid green; */
}

.h3-label-1 {
	font-size: 28px;
	line-height: 28px;
	padding: 0 0 20px 13px;
	color: #333;
	background: url(../img/201901091526.jpg) no-repeat left 1px;
}
/*.Recommend-wrapper .left .ul {
	border:1px solid blue;
}*/
.Recommend-wrapper .left .ul .li {
	border-top: 1px solid #dfdfdf;
	padding: 25px 0;
}
.Recommend-wrapper .left .ul .li:last-child {
	border-bottom: 1px solid #dfdfdf;
}
.Recommend-wrapper .left .ul .li .title {
	font-size: 22px;
	line-height: 22px;
	font-weight: 700;
}
.Recommend-wrapper .left .ul .li .title a {
	color: #333;
	display: inline-flex;
}
.Recommend-wrapper .left .ul .li .text {
	font-size: 14px;
	line-height: 24px;
	margin: 20px 0 10px;
}
.Recommend-wrapper .left .ul .li .pic {
	/*border: 1px solid blue;*/
	height: 166px;
	display: flex;
}
.Recommend-wrapper .left .ul .li .pic .pic-son {
	width: 266px;
	height: 100%;
	margin: 0 15px 0 0;
	/* border: 1px solid red; */
}
.Recommend-wrapper .left .ul .li .pic .pic-son:last-child {
	margin: 0;
}
.Recommend-wrapper .left .ul .li .pic .pic-son a {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
}
.Recommend-wrapper .left .ul .li .pic .pic-son a .icon-shipin {
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 40px;
	margin-top: -10px;
	margin-left: -10px;
	color: rgba(0,0,0,0.7);
}







.page-wrapper {
	margin: 25px auto 0;
}
.page-wrapper ul {
	display: flex;
	justify-content: center;
}
.page-wrapper ul li {

}
.page-wrapper ul li a {
	font-size: 14px;
	color: #999;
	line-height: 14px;
	display: flex;
	padding: 5px 8px;
	margin: 0 0 0 20px;
	border: 1px solid #666;
	border-radius: 2px;
	transition: all 0.3s linear;
}
.page-wrapper ul li .up {
	border: none;
}
.page-wrapper ul li .next {
	border: none;
}
.page-wrapper ul li .s {
	border: none;
}
.page-wrapper ul li .x {
	border: none;
}
.page-wrapper ul li a:hover {
	background: #b12f2a;
	border: 1px solid #b12f2a;
	color: #fff;
	transition: all 0.3s linear;
}
.page-wrapper ul li .up:hover {
	background: none;
	border: none;
	color: #b12f2a;
}
.page-wrapper ul li .next:hover {
	background: none;
	border: none;
	color: #b12f2a;
}
.page-wrapper ul li .s:hover {
	background: none;
	border: none;
	color: #b12f2a;
}
.page-wrapper ul li .x:hover {
	background: none;
	border: none;
	color: #b12f2a;
}
.page-wrapper ul li:first-child a {
	margin: 0;
}
.page-wrapper ul .active {
	font-size: 14px;
	color: #999;
	line-height: 14px;
	display: flex;
	padding: 5px 8px;
	background: #b12f2a;
	border: 1px solid #b12f2a;
	color: #fff;
	border-radius: 2px;
	margin: 0 0 0 20px;
}
.page-wrapper ul .ellipsis {
	font-size: 14px;
	color: #999;
	line-height: 14px;
	display: flex;
	padding: 5px 0px;
	border-radius: 2px;
	margin: 0 0 0 20px;
}













.right-1 {
	/* border: 1px solid red; */
	padding: 20px;
	box-sizing: border-box;
	background: #fff;
}
.title-wrapper {
	border-bottom: 1px solid #dfdfdf;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: 28px;
	background: url(../img/201901091526.jpg) no-repeat left 1px;
	padding: 0 0 10px 13px;
}
.title-wrapper .h3-label-2 {
	font-size: 28px;
	line-height: 28px;
}
.title-wrapper .more {
	font-size: 14px;
	line-height: 14px;
	color: #b12f2a;
	font-family: 'arial';
}

/*推荐攻略*/






.right-2 {
	border: 1px solid #dfdfdf;
	margin: 20px 0 0 0;
}

/*新闻侧边栏*/


/*合作商家*/
.cooperative-business-wrapper {
	width: 100%;
	height: 306px;
	background: #fff;
	box-sizing: border-box;
	overflow: hidden;
	margin-top: 30px;
}
.cooperative-business-wrapper .son {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	/*border: 1px solid blue;*/
}

.cooperative-business-wrapper .son .title {
	font-size: 34px;
	line-height: 34px;
	color: #333;
	text-align: center;
	margin: 30px 0 0 0;
}
.cooperative-business-wrapper .son .info {
	font-size: 18px;
	line-height: 18px;
	text-align: center;
	margin: 13px 0 0 0;
}

.swiper-container-2 {
	width: 100%;
	margin: 40px 0 0 0!important;
}
.swiper-container-2 .swiper-slide-2 {
	height: 124px!important;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #dfdfdf;
	box-sizing: border-box;
}
.swiper-container-2 .swiper-slide-2:hover {
	border: 1px solid #cb9a00;
}
.swiper-container-2 .swiper-button-prev-2 {
	width: 26px;
	height: 47px;
	background: url(../img/201901100932.png) no-repeat!important;
	background-size: 100% 100%;
}
.swiper-container-2 .swiper-button-prev-2 {
	transform: rotateZ(180deg);
}
.swiper-container-2 .swiper-button-prev-2:hover {
	background: url(../img/201901100941.png) no-repeat!important;
	transform: rotateZ(0deg);
	background-size: 100% 100%;
}
.swiper-container-2 .swiper-button-next-2 {
	width: 26px;
	height: 47px;
	background: url(../img/201901100932.png) no-repeat!important;
	background-size: 100% 100%;
}
.swiper-container-2 .swiper-button-next-2:hover {
	background: url(../img/201901100941.png) no-repeat!important;
	transform: rotateZ(180deg);
	background-size: 100% 100%;
}















.fixed-wrapper {
	width: 100%;
	height: 173px;
	background: rgba(0,0,0,0.8);
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 6;
}
.fixed-wrapper .son {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	background: url(../img/201901202130.png) no-repeat left center;
	position: relative;
	z-index: 1;
}

.fixed-wrapper .son .select-wrapper {
	width: 900px;
	height: 100%;
	margin: 0 0 0 300px;
	display: flex;
}
.fixed-wrapper .son .select-wrapper .box {
	margin: 70px 20px 0 0;
	display: inline-block;
}
.fixed-wrapper .son .select-wrapper .box select {
	width: 164px;
	height: 52px;
	line-height: 52px;
	outline: none;
	border: none;
	border-radius: 3px;
}
.fixed-wrapper .son .select-wrapper .box option {
	height: 50px;
	line-height: 50px;
	padding: 10px 0;
}
.fixed-wrapper .son .select-wrapper .box .text {
	height: 14px;
	font-size: 14px;
	line-height: 14px;
	color: #dfdfdf;
	margin: 5px 0 0 0;
}
.fixed-wrapper .son .select-wrapper .submit {
	width: 164px;
	height: 52px;
	background: #b12f2a;
	border-radius: 3px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 70px 0 0 0;
	cursor: pointer;
}

.fixed-pic {
	position: absolute;
	right: 0;
	bottom: 0;
}
.fixed-wrapper .close {
	width: 40px;
	height: 54px;
	position: fixed;
	bottom: 173px;
	left: 50%;
	margin-left: -700px;
}
.fixed-wrapper .close .line {
	width: 3px;
	height: 20px;
	background: #a8a8a8;
	position: absolute;
	bottom: 0;
	left: 18px;
}
.fixed-wrapper .close .iconfont {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #a8a8a8;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	cursor: pointer;
}






.dialog-box {
	width: 445px;
	height: 84px;
	position: fixed;
	bottom: 0;
	right: 0;
	display: flex;
	border-radius: 5px;
	overflow: hidden;
	z-index: 3;
	cursor: pointer;
}
.dialog-box .l {
	width: 83px;
	height: 100%;
	background: #a90009;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}
.dialog-box .l .iconfont {
	font-size: 35px;
}
.dialog-box .r {
	flex: 1;
	height: 100%;
	background: #c31821;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
	box-sizing: border-box;
}
.dialog-box .r span {
	color: #fff;
	font-size: 20px;
	line-height: 20px;
}
.dialog-box .r .iconfont {
	color: #fff;
	font-size: 30px;
	transform: rotateZ(90deg);
}








/*
	下拉菜单修改成自己填
*/

.first-class,
.second-class,
.ECalendar {
	outline: none;
	width: 180px;
	height: 52px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	padding: 0 10px;
	color: #333;
	border-radius: 3px;
	font-size: 14px;
}