@import './header.css';
@import './navigation.css';
@import './commonjourna.css';
@import './commonpageturning.css';
@import './commoncontent.css';
@import './footer.css';

.article-wrapper {
	width: 1200px;
	margin: 30px auto 50px;
	display: flex;
}

.article {
	flex: 1;
	margin: 0 30px 0 0;
}



.aside {
	width: 290px;
	box-sizing: border-box;
	position: relative;
}
.aside-box {
	border: 1px solid #dfdfdf;
}
.title-wrapper-2 {
	background: #f2f2f5;
}






