@import './header.css';
@import './navigation.css';
@import './commonlist.css';
@import './commontitle.css';
@import './footer.css';
.content{
    width: 1200px;
    margin: 50px auto 0px auto;
    min-height: 670px;
    /* background: cyan; */
    display: flex;
    justify-content: center;
}
.section_img{
    width: 640px;
    margin-right:50px; 
}
.section_img img{
    margin-top: 30px;
}
.section_login{
    width: 510px;
    /* min-height: 300px; */
    /* background: chocolate; */
}
.section_login_con{
    width: 508px;
    height: 543px;
    border: 1px solid #dfdfdf;
    margin-top: 20px;
}
.section_login_con_top{
    width: 438px;
    margin: 0px auto 67px auto;
    height: 390px;
    /* background: cadetblue */
}
.section_login_con_top h4{
    width: 100%;
    height:88px;
    line-height: 88px;
    color: #4e4e4e;
    font-size: 18px;
    font-family: '微软雅黑';
    display: flex;
    justify-content: space-between;
    /* font-weight: normal; */
}
.section_login_con_top a{
    width: 122px;
    height:20px;
    line-height: 20px;
    color: #858585;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.section_login_con_top a span{
    color: #c31a23;
    font-size: 18px;
    margin: 0 0 0 5px;
}
input[name='tel']{
    width: 438px;
    height: 62px;
    line-height: 62px;
    color: #a7a7a7;
    border: 1px solid #dfdfdf;
    outline: none;
    text-indent: 26px;
    font-size: 14px;
    box-sizing: border-box;
}
.message{
    width: 438px;
    height: 62px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
input[name='Verification']{
    width: 258px;
    height: 62px;
    line-height: 62px;
    color: #a7a7a7;
    border: 1px solid #dfdfdf;
    outline: none;
    text-indent: 26px;
    font-size: 14px;
    box-sizing: border-box;
}
.obtain {
    width: 160px;
    height: 62px;
    line-height: 62px;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #dfdfdf;
    outline: none;
    text-align: center;
    background: #f2f2f5;
    color: #a5a5a5;
    cursor: pointer;
}
.loginup{
    width: 438px;
    height: 140px;
    margin-top: 30px;
}
input[name='loginup']{
    width:438px;
    height: 62px;
    line-height: 62px;
    font-size: 14px;
    font-family: '微软雅黑';
    border: 1px solid #c31821;
    outline: none;
    text-align: center;
    background: #c31821;
    color: #fbf0f0;
    cursor: pointer;
}
.loginup p{
    width: 438px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    line-height:42px
}
.loginup p .pass{
    width: 70px;
    height: 42px;
    display: inline-block;
    line-height: 42px;
    color: #a7a7a7;
    text-decoration: none;
    margin-top: 0px;
}
.loginup p span{
    width: 115px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    font-family: '微软雅黑';
    display: inline-block;
    color: #a0a0a0;
}
.loginup p span a{
    width: 53px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    font-family: '微软雅黑';
    display: inline-block;
    color: #c31821;
    margin-top: 0px;
}
.section_login_con_bottom{
    width: 508px;
    height: 85px;
    background: #f7f7f7;
    /* border-right: 1px solid #dfdfdf; */
}
.section_login_con_bottom_con{
    width:438px;
    height: 85px;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
}
.section_login_con_bottom_con p{
    width: 106px;
    height: 85px;
    line-height: 85px;
    text-align: center;
    color: #8e8e8e;
    font-size: 14px;
    font-family: '微软雅黑';
}
.section_login_con_bottom_login{
    width: 312px;
    height: 85px;
    display: flex;
    justify-content: space-between;
}
.section_login_con_bottom_login dl{
    width: 104px;
    height: 85px;
    line-height: 85px;
    display: flex;
    justify-content: space-between;
}
.section_login_con_bottom_login dt{
   width: 50px;
   height: 85px;
   line-height: 85px;
   text-align: center;
}
.section_login_con_bottom_login dt img{
   margin-top: 20px;
 }
.section_login_con_bottom_login dd{
    width: 54px;
    height: 85px;
    line-height: 85px;
    text-align: center;
    color: #8e8e8e;
    font-size: 14px;
    font-family: '微软雅黑';
 }

.header-wrapper .nav-wrapper {
    background: #fff;
    box-shadow: none;
}

.err-info {
    /*border: 1px solid red;*/
    margin: 20px 0;
    color: #b12f2a;
    font-size: 14px;
    line-height: 14px;
    height: 14px;
 }

 .mask {
    width: 160px;
    height: 62px;
    /*border: 1px solid red;*/
    position: absolute;
    right: 0;
    top: 0;
    display: none;
 }