@import './header.css';
@import './commonb.css';
@import './navigation.css';
@import './commonraiders.css';
@import './commonjourna.css';
@import './menubar.css';
@import './footer.css';

.content{
    width: 1200px;
    margin: 0px auto 50px auto;
    /*border: 1px solid red;*/
    display: flex;
    justify-content: space-between;
}

/*
    左侧菜单栏
*/



.content_right_list{
    width: 960px;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 0 20px 350px;
}
.content_right_list_head{
    height: 99px;
    margin: 30px auto 40px auto;
    display: flex;
    align-items: center;
}
.content_right_list_head_step{
    width: 144px;
    height: 99px;
    margin-left: 32px;
}
.content_right_list_head_step button{
    width: 110px;
    height: 42px;
    background: #b12f2a;
    color: white;
    text-align: center;
    line-height: 42px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #b12f2a;
    margin-top: 25px;
    cursor: pointer;
}
.content_right_list_head_step p{
    font-size: 12px;
    font-family: '微软雅黑';
    color: #999999;
    margin-top: 4px;
}
.content_right_list_con{
    border-top: 1px dashed #dfdfdf;
    margin: 0 auto;
}
.nickname{
    width: 911px;
    height: 37px;
    line-height: 37px;
    display: flex;
    align-items: center;
    margin-top: 42px;
}
.err-info {
    /*border: 1px solid red;*/
    margin: 20px 0;
    color: #b12f2a;
    font-size: 14px;
    line-height: 14px;
    height: 14px;
    margin-left: 86px;
}
.err-info-pass {
    /*border: 1px solid red;*/
    margin: 20px 0;
    color: #b12f2a;
    font-size: 14px;
    line-height: 14px;
    height: 14px;
    margin-left: 86px;
}
.nickname span{
    width: 60px;
    height: 37px;
    text-align: right;
    display: inline-block;
    color: #333333;
    font-size: 14px;
    font-family: '微软雅黑';

}
.nickname input{
    width: 300px;
    height: 37px;
    line-height: 37px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    margin-left: 46px;
    text-indent: 18px;
    color: 14px;
    font-family: '微软雅黑';
    color: #333333;
    outline: none;
}
.sex{
    width: 911px;
    height: 37px;
    line-height: 37px;
    display: flex;
    align-items: center;
    margin-top: 32px;
}
.sex span{
    width: 60px;
    height: 37px;
    text-align: right;
    display: inline-block;
    color: #333333;
    font-size: 14px;
    font-family: '微软雅黑';

}
.radio{
    width: 300px;
    height: 37px;
    line-height: 37px;
    margin-left: 46px;
    display: flex;
    align-items: center;
}
input[type="radio"] + label::before {
    content: "\a0"; /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 9px;
    height:9px;
    margin-right: .4em;
    border-radius: 50%;
    border: 1px solid #e2e2e2;
    text-indent: .15em;
    line-height: 1; 
}
input[type="radio"]:checked + label::before {
    background-color: #b12f2a;
    background-clip: content-box;
    padding:5px;
    border: 1px solid #b12f2a;
}
input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    content: "\a0"; /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 19px;
    height:19px;
    margin-right: .4em;
    border-radius: 50%;
    border: 1px solid #e2e2e2;
    text-indent: .15em;
    line-height: 1; 
}  
.male{
    margin-left: 40px;
} 
.birthday{
    width: 911px;
    height: 37px;
    line-height: 37px;
    display: flex;
    align-items: center;
    margin-top: 32px;
}
.birthday .b1{
    width: 65px;
    height: 37px;
    text-align: right;
    display: inline-block;
    color: #333333;
    font-size: 14px;
    font-family: '微软雅黑';

}
.birthday input{
    width: 300px;
    height: 37px;
    line-height: 37px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    margin-left: 46px;
    text-indent: 18px;
    color: 14px;
    font-family: '微软雅黑';
    color: #333333;
    outline: none;
}
.marry{
    width: 911px;
    height: 37px;
    line-height: 37px;
    display: flex;
    align-items: center;
    margin-top: 32px;
}
.marry .m1{
    width: 65px;
    height: 37px;
    text-align: right;
    display: inline-block;
    color: #333333;
    font-size: 14px;
    font-family: '微软雅黑';

}
.marry input{
    width: 300px;
    height: 37px;
    line-height: 37px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    margin-left: 46px;
    text-indent: 18px;
    color: 14px;
    font-family: '微软雅黑';
    color: #333333;
    outline: none;
}
.tel{
    width: 911px;
    height: 37px;
    line-height: 37px;
    display: flex;
    align-items: center;
    margin-top: 32px;
}
.tel span{
    width: 65px;
    height: 37px;
    text-align: right;
    display: inline-block;
    color: #333333;
    font-size: 14px;
    font-family: '微软雅黑';

}
.tel input{
    width: 300px;
    height: 37px;
    line-height: 37px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    margin-left: 46px;
    text-indent: 18px;
    color: 14px;
    font-family: '微软雅黑';
    color: #333333;
    outline: none;
}
.tel button{
    width: 75px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #999999;
    color: #999999;
    font-size: 14px;
    font-family: '微软雅黑';
    background: rgba(0,0,0,0);
    border-radius: 5px;
    margin-left: 53px;
    cursor: pointer;
    padding: 0;
}
.tel button:hover{
    color: #b12f2a;
    border: 1px solid #b12f2a;
}
.pass{
    width: 911px;
    height: 37px;
    line-height: 37px;
    display: flex;
    align-items: center;
    margin-top: 32px;
}
.pass span{
    width: 65px;
    height: 37px;
    text-align: right;
    display: inline-block;
    color: #333333;
    font-size: 14px;
    font-family: '微软雅黑';

}
.pass input{
    width: 300px;
    height: 37px;
    line-height: 37px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    margin-left: 46px;
    text-indent: 18px;
    color: 14px;
    font-family: '微软雅黑';
    color: #333333;
    outline: none;
}
.pass button{
    width: 75px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #999999;
    color: #999999;
    font-size: 14px;
    font-family: '微软雅黑';
    background: rgba(0,0,0,0);
    border-radius: 5px;
    margin-left: 53px;
    cursor: pointer;
    padding: 0;
}
.pass button:hover{
    color: #b12f2a;
    border: 1px solid #b12f2a;
}
.save{
    width: 188px;
    height: 40px;
    text-align: center;
    color: white;
    background: #b12f2a;
    border-radius: 5px;
    outline: none;
    border: 1px solid #b12f2a;
    margin: 88px 0px 0px 140px;
    cursor: pointer;
}
.model{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.5);
    z-index: 22;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
}
.model_content{
    position: absolute;
    width: 545px;
    height: 500px;
    background: white;
    border-radius: 30px;
    top: 193px;
   left: 685px;
   display: none;
}
.model_content h4{
    width: 545px;
    height: 56px;
    background: #b12f2a;
    color: white;
    font-size: 16px;
    font-family: '微软雅黑';
    text-indent: 40px;
    border-radius: 30px 30px 0px 0px;
    line-height: 56px;
}
.model_cont{
    width: 380px;
    height: auto;
    margin: 40px auto 0px auto;
    /* background: cadetblue; */
}
.model_cont p{
    width: 380px;
   font-size: 14px;
   font-family: '微软雅黑';
}
.new_phone{
    width: 380px;
    height: 44px;
    line-height: 44px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.new_phone span{
    width: 80px;
    height: 44px;
    line-height: 44px;
    text-align: left;
    color: #333333;
    font-size: 14px;
    font-family: '微软雅黑';
}
.new_phone input{
    width: 180px;
    height: 44px;
    line-height: 44px;
    text-align: left;
    color: #333333;
    font-size: 14px;
    font-family: '微软雅黑';
    border: 1px solid #dfdfdf;
    outline: none;
    border-radius: 5px;
}
.new_phone button{
    width: 110px;
    height: 42px;
    line-height: 42px;
    text-align: left;
    color: #999999;
    font-size: 12px;
    font-family: '微软雅黑';
    border: 1px solid #dfdfdf;
    outline: none;
    border-radius:8px;
    background: #dfdfdf;
    text-align: center;
}
.Verification{
    width: 380px;
    height: 44px;
    line-height: 44px;
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}
.Verification span{
    width: 80px;
    height: 44px;
    line-height: 44px;
    text-align: left;
    color: #333333;
    font-size: 14px;
    font-family: '微软雅黑';
}
.Verification input{
    width: 300px;
    height: 44px;
    line-height: 44px;
    text-align: left;
    color: #333333;
    font-size: 14px;
    font-family: '微软雅黑';
    border: 1px solid #dfdfdf;
    outline: none;
    border-radius: 5px;
}
.modify{
    width: 188px;
    height: 40px;
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: '微软雅黑';
    background: #b12f2a;
    border-radius: 5px;
    border: 1px solid #b12f2a;
    margin: 62px 0px 0px 80px;
}
.fork{
    width: 35px;
    height: 35px;
    background: #b12f2a;
    border-radius: 50%;
    position: absolute;
    top: -23px;
    right: -19px;
    z-index: 22;
    cursor: pointer;
}
.model2{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.5);
    z-index: 22;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
}
.model_content2{
    position: absolute;
    width: 545px;
    height: 420px;
    background: white;
    border-radius: 30px;
    top: 193px;
   left: 685px;
   display: none;
  
}
.model_content2 h4{
    width: 545px;
    height: 56px;
    background: #b12f2a;
    color: white;
    font-size: 16px;
    font-family: '微软雅黑';
    text-indent: 40px;
    border-radius: 30px 30px 0px 0px;
    line-height: 56px;
}
.model_cont2{
    width: 365px;
    height: auto;
    margin: 55px auto 0px auto;
    /* background: cadetblue; */
}
.old_pass{
    width: 365px;
    display: flex;
    justify-content: space-between;
}
.old_pass span{
    width: 67px;
    height: 42px;
    line-height: 42px;
    text-align: left;
    color: #333333;
    font-size: 14px;
    font-family: '微软雅黑';
}
.old_pass input{
    width: 300px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    font-family: '微软雅黑';
    color: #333333;
    font-size: 14px;
    outline: none;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
}
.new_pass{
    width: 365px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.new_pass span{
    width: 67px;
    height: 42px;
    line-height: 42px;
    text-align: left;
    color: #333333;
    font-size: 14px;
    font-family: '微软雅黑';
}
.new_pass input{
    width: 300px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    font-family: '微软雅黑';
    color: #333333;
    font-size: 14px;
    outline: none;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
}
.verification{
    width: 365px;
    height: 42px;
    line-height: 42px;
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}
.verification span{
    width: 67px;
    height: 42px;
    line-height: 42px;
    text-align: left;
    color: #333333;
    font-size: 14px;
    font-family: '微软雅黑';
}
.verification input{
    width: 280px;
    height: 42px;
    line-height: 42px;
    text-align: left;
    color: #333333;
    font-size: 14px;
    font-family: '微软雅黑';
    border: 1px solid #dfdfdf;
    outline: none;
    border-radius: 5px;
}
.verification button{
    width: 100px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #28181b;
    font-size: 14px;
    font-family: '微软雅黑';
    border: 1px solid #dfdfdf;
    outline: none;
    border-radius: 5px;
    outline: none;
    font-weight: 500;
    letter-spacing:8px;
    background: url('../img/yanxheng.png') no-repeat;
}
.modify2{
    width: 188px;
    height: 40px;
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: '微软雅黑';
    background: #b12f2a;
    border-radius: 5px;
    border: 1px solid #b12f2a;
    margin: 40px 0px 0px 80px;
}
.fork2{
    width: 35px;
    height: 35px;
    background: #b12f2a;
    border-radius: 50%;
    position: absolute;
    top: -23px;
    right: -19px;
    z-index: 22;
    cursor: pointer;
}