@import './header.css';
@import './navigation.css';
@import './pagelist.css';
@import './footer.css';



.content{
    width: 1200px;
    min-height: 5262px;
    margin: 22px auto 50px auto;
    /* background: cadetblue; */
}
.content_tab{
    width: 1200px;
    height: 632px;
    display: flex;
    justify-content: space-between;
    /* background: cadetblue; */
}
.content_tab-1 {
    width: 655px;
    height: 632px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.content_tab-1-1{
    width: 122px;
    height: 632px;
    /*border: 1px solid red;*/
}
.content_tab-1-1 li {
    width: 122px;
    height: 148px;
    box-sizing: border-box;
    margin: 13px 0 0 0;
    border: 1px solid #ccc;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s linear;
}
.content_tab-1-1 li:first-child {
    margin: 0;
}
.content_tab-1-1 li:hover {
    border: 1px solid red;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    transition: all 0.3s linear;
}

.content_tab-1-1 .active {
    border: 1px solid red;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    transition: all 0.3s linear;
}












.content_tab-1-2 {
    width: 520px;
    height: 632px;
    position: relative;
    /*border: 1px solid red;*/
}

.content_tab-1-2 li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.content_tab-1-2 li:first-child {
    display: block;
}


.content_tab-1 .magnifier {
    width: 38px;
    height: 38px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.content_tab-1 .magnifier .icon-fangdajing {
    color: #fff;
    font-size: 22px;
}


.Big-Picture-wrapper {
    width: 100%;
    background: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}
.Big-Picture-wrapper .son-wrapper {
    width: 844px;
    height: 1024px;
    margin: 0 auto;
    position: relative;
}
.Big-Picture-wrapper .son-wrapper .item {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.Big-Picture-wrapper .upper {
    width: 110px;
    height: 110px;
    background: #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 455px;
    left: 50%;
    margin-left: -700px;
    transition: all 0.3s linear;
}
.Big-Picture-wrapper .upper:hover {
    background: #b12f2a;
    transition: all 0.3s linear;
}
.Big-Picture-wrapper .upper .icon-zuo {
    font-size: 45px;
    color: #fff;
}

.Big-Picture-wrapper .next {
    width: 110px;
    height: 110px;
    background: #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateZ(180deg);
    cursor: pointer;
    position: absolute;
    top: 455px;
    right: 50%;
    margin-right: -700px;
    transition: all 0.3s linear;
}
.Big-Picture-wrapper .next:hover {
    background: #b12f2a;
    transition: all 0.3s linear;
}
.Big-Picture-wrapper .next .icon-zuo {
    font-size: 45px;
    color: #fff;
}

















.content_tab-2{
    width: 495px;
    height: 632px;
    position: relative;
}
.content_tab-2 h4{
   width:495px;
   font-size: 22px;
   font-family: '微软雅黑';
   color: #333333;
   margin-top: 67px;
}
.content_tab-2 p{
    width:495px;
    font-size: 14px;
    font-family: '微软雅黑';
    color: #666666;
    margin-top: 52px;
    line-height: 36px;
 }
 .telephone-consultation {
    font-size: 14px;
    line-height: 14px;
    margin-top: 67px;
    font-weight: 700;
 }
 .focus-x {
     width: 495px;
     height: 50px;
     display: flex;
     position: absolute;
     left: 0;
     bottom: 15px;
 }
 .focus-x a {
    width: 150px;
    border: 1px solid #dfdfdf;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin: 0 0 0 20px;
 }
 .focus-x a span {
    margin: 0 0 0 7px;
 }
 .focus-x a:first-child {
    margin: 0;
 }
 .focus-x .already {
    color: #b12f2a;
    border: 1px solid #b12f2a;
 }
/*.content_tab-2_btn button{
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: Regular;
    color: #666666;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    outline: none;
    text-align: center;
    margin-top: 0px;
    background: rgba(0,0,0,0);
    cursor: pointer;
}*/
/*.content_tab-2_btn button span{
    display: inline-block;
    width: auto;
    height: auto;
    margin-top: 0px;
    margin-right: 5px;
}
.content_tab-2_btn button:hover{
    color: #b1302b;
    border: 1px solid #b1302b;
}
.content_tab-2_btn button:hover span{
    color: #b1302b;
}*/
.content_con{
    width: 1200px;
    min-height: 200px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.list-wrapper {
	width:890px;
	height: auto;
	border: 1px solid #dfdfdf;
}
.list-wrapper-son {
    width: 100%;
    height: 63px;
    position: relative;
}
.list-wrapper .ul-1 {
    width: 890px;
	border-bottom: 1px solid #dfdfdf;
	box-sizing: border-box;
	display: flex;
	background: #f2f2f5;
    position: relative;
    top: 0;
    left: 0;
}
.list-wrapper .ul-1-active {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -599px;
    z-index: 10;
}



.list-wrapper .ul-1 .li {
	width:150px;
	height: 62px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
    cursor: pointer;
}
.list-wrapper .ul-1 .li .line-up{
	display: none;
}
.list-wrapper .ul-1 .li .line-down{
	display: none;
}
.list-wrapper .ul-1 .active {
	background: #fff;
	box-sizing: border-box;
}
.list-wrapper .ul-1 .active .line-up {
	display: block;
}
.list-wrapper .ul-1 .active .line-down {
	display: block;
}
.list-wrapper .ul-1 .line-up{
	position: absolute;
	width: 100%;
	height: 3px;
	background: #b12f2a;
	top: -1px;
	left: 0;
}
.list-wrapper .ul-1 .line-down{
	position: absolute;
	width: 100%;
	height: 1px;
	background: #fff;
	top: 100%;
	left: 0;
}
.list-wrapper .ul-1 .li .i {
	width: 21px;
	height: 21px;
	margin: 0 6px 0 0;
	border: 1px solid red;
}
.list-wrapper .ul-1 .li .text {
	color: #333;
}
.list-wrapper .ul-1 .li .text span{
	color: #b12f2a;
}

.list-wrapper  .ul-2 {
	width: 100%;
}
.list-wrapper  .ul-2 .li{
	width: 100%;
	height: auto;
	display: none;
	padding: 0 28px;
    box-sizing: border-box;
    padding-bottom: 30px;
}
.list-wrapper .ul-2 .active {
	display: block;
}

.list-wrapper  .ul-2 .li dl {
	border-bottom: 1px dashed #e1e1e1;
	display: flex;
	box-sizing: border-box;
	padding: 25px 0;
}
.list-wrapper  .ul-2 .li dl:last-child {
	border: none;
}
.list-wrapper  .ul-2 .li dl dt{
	margin: 0 5px 0 0;
}
.list-wrapper  .ul-2 .li dl dd{
	margin: 0 0 0 48px;
}
.list-wrapper  .ul-2 .li dl .active a {
	color: #b12f2a;
}
.list-wrapper  .ul-2 .li dl dd a:hover {
	color: #b12f2a;
}
.li_con{
    height: auto;
}
.li_con h4 {
    border-bottom: 1px dashed #e3e3e3;
    color: #333333;
    font-size: 18px;
    line-height: 18px;
    padding: 40px 0 20px;
    display: flex;
    align-items: center;

}
.li_con h4 img {
    margin: 0 10px 0 0;
}
/*.li_con img{
    margin-top: 20px;
    margin-right: 10px;
}*/
.li_con_text1{
    color: #666666;
    font-size: 14px;
    margin-top: 32px;
}
.li_con_text2{
    color: #666666;
    font-size: 14px;
    margin-top: 64px;
}
.li_con_text3{
    color: #666666;
    font-size: 14px;
    margin-top: 62px;
}
.li_con_text4{
    color: #666666;
    font-size: 14px;
    margin-top:24px;
}
.li_con_text5{
    color: #333333;
    font-size: 16px;
    margin-top:32px;
}
.li_con_text6{
    color: #666666;
    font-size: 14px;
    margin-top:23px;
    line-height: 32px;
}
.li_con_text6 span{
    width: 120px;
    display: inline-block;
}
.li_con_text7{
    width: 815px;
    color: #333333;
    font-size: 16px;
    margin-top:64px;
}
.details_img{
    width: 815px;
    display: flex;
    margin-top: 20px;
}
.details_img img{
    margin-top: 0px;
}
.details_img_left{
    width: 380px;
}
.details_img_right{
    width: 455px;
    display: flex;
    flex-wrap: wrap;
}
.user_con_1{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dfdfdf;
    padding: 20px 0;
}
.user_img{
    width: 53px;
    height: auto;
}
.user_img img{
    margin-top: 0px;
}
.user_content{
    flex: 1;
    height: auto;
    margin: 0 0 0 15px;
}
.li_con .user_con .user_content h4{
    font-size: 16px;
    color: #333333;
    margin-top: 5px;
    border-bottom: none;
    height: auto;
    line-height:16px;
}
.user_content p{
    font-size: 14px;
    color: #666666;
    margin-top: 20px;
    border-bottom: none;
    line-height: 20px;
}
.user_content_img{
    display: flex;
    margin-top: 22px;
}
.user_content_img img {
    /*margin-top: 0px;*/
    margin: 0 0 0 6px;
}
.user_content_img img:first-child {
    margin: 0;
}
.user_time{
    font-size: 14px;
    line-height: 14px;
    color: #999;
    padding: 20px 0;
    border-bottom: 1px dashed #e3e3e3;
    display: flex;
    justify-content: space-between;
}
.user_time span {
    cursor: pointer;
}
.user_con_1_1{
    display: flex;
    padding: 20px 0;
    box-sizing: border-box;
    justify-content: space-between;
    border-bottom: 1px dashed #dfdfdf;
}
.user_content_1_1{
    flex: 1;
    height: auto;
    margin: 0 0 0 15px;
}
.user_content_1_1 h4{
    font-size: 16px;
    color: #333333;
    margin-top: 5px;
    border-bottom: none;
    height: auto;
    line-height:16px;
}
.user_content_1_1 p{
    font-size: 14px;
    color: #666666;
    margin-top: 20px;
    border-bottom: none;
    line-height: 20px;
}


.user_time_1_1{
    font-size: 14px;
    line-height: 14px;
    color: #999;
    padding: 20px 0 0;
    display: flex;
    justify-content: space-between;
}
.user_time_1_1 span {
    cursor: pointer;
}

.loading {
    padding:10px 0;
    width: 100%;
    font-size: 14px;
    line-height: 14px;
    background: rgba(0,0,0,0);
    display: flex;
    justify-content: center;
}
.loading a {
    color: #999;
}
.user_con_2_1{
    margin-top: 20px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}
.user_con_2_2{
    display: flex;
    justify-content: space-between;
}
.user_con_2_2{
    width: 53px;
    height: auto;
}
.user_con_2_2 img{
    margin-top: 0px;
}
.user_con_2_2{
    height: auto;
}
.user_con_2_2 h4{
    font-size: 16px;
    color: #333333;
    margin-top: 5px;
    border-bottom: none;
    height: auto;
    line-height:16px;
}
.user_con_2_2 p{
    font-size: 14px;
    color: #666666;
    margin-top: 20px;
    border-bottom: none;
    line-height: 20px;
}
.user_con_2_2{
    height: 50px !important;
    line-height: 50px !important;
    color: #999999 !important;
    font-size: 14px;
    margin-top: 0px !important;
}
.user_con_2_2 span{
    float: right;
}



.aside {
    width: 290px;
    box-sizing: border-box;
    position: relative;
    padding: 63px 0 10px 0;
}
.aside-box {
    border: 1px solid #dfdfdf;
    padding: 0 0 20px 0;
    box-sizing: border-box;
}
.title-wrapper {
    border: 1px solid #dfdfdf;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 63px;
    width: 290px;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background: url(../img/201901121445.png) no-repeat 20px 24px #f2f2f5;
    padding: 0 20px 10px 60px;
    position: absolute;
}
.common-theme-2-3 {
    padding: 0 15px;
    box-sizing: border-box;
}
.common-theme-2-3-item {
    height: 460px;
    position: relative;
    margin: 10px auto 0;
}
.common-theme-2-3-item .c-1 {
    width: 100%;
    height: 116px;
    box-sizing: border-box;
    border: 1px solid #dfdfdf;
}
.common-theme-2-3-item .c-1 .c-1-1 {
    height: 85px;
    padding: 13px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px dashed #dfdfdf;
}
.common-theme-2-3-item .c-1 .c-1-1 .t {
    font-size: 22px;
    color: #333;
    line-height: 22px;
    text-align: center;
}
.common-theme-2-3-item .c-1 .c-1-1 .focus {
    display: flex;
    justify-content: center;
    align-items: center;
}
.common-theme-2-3-item .xq {
    width: 214px;
    height: 52px;
    display: flex;
    justify-content: center;
    line-height: 52px;
    font-size: 14px;
    color: #fff;
    background: #b8b8b8;
    position: absolute;
    bottom: 0;
    left: 20px;
    transition: all 0.3s linear;
}

.common-theme-2-3-item .icon-shipinbofang {
    font-size: 20px;
    color: #fff;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 150px;
    left: 121px;
    width: 40px;
    height: 40px;
    border-radius: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.common-theme-2-3-item .c-1 .c-1-1 .focus a span {
    margin: 0 0 0 6px;
    font-size: 14px;
    line-height: 14px;
}
.common-theme-2-3-item .c-1 .c-1-1 .focus a {
    margin: 0 30px 0 0;
}
.common-theme-2-3-item .c-1 .c-1-1 .focus a:last-child {
    margin: 0;
}
.common-theme-2-3-item .c-1 .c-1-1 .focus .already {
    color: #b12f2a;
}
/*.common-theme-2-3-item .c-1 .c-1-1 .focus a:first-child {
    margin: 0 30px 0 0;
}*/
.common-theme-2-3-item .xq:hover {
    background: #b12f2a;
    transition: all 0.3s linear;
}
.title-wrapper .h3-label-2 {
    font-size: 28px;
    line-height: 28px;
}


/*添加评论*/
.add-comments {
    margin: 0 28px;
}
.add-comments .up {
    width: 100%;
    height: 288px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    position: relative;
}
.add-comments .down {
    margin: 20px 0 28px;
    display: flex;
    justify-content: flex-end;
}
.add-comments .down a {
    height: 52px;
    width: 214px;
    background: #b8b8b8;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s linear;
    border-radius: 3px;
}
.add-comments .down a:hover {
    background: #b12f2a;
    transition: all 0.3s linear;
}

.add-comments .up textarea {
    outline: none;
    border: none;
    min-width: 100%;
    max-width: 100%;
    min-height: 165px;
    max-height: 165px;
    box-sizing: border-box;
    color: #999;
    font-size: 14px;
    line-height: 22px;
    padding: 15px;
    border-bottom: 1px solid #dfdfdf;
}

.add-comments .up .word-number {
    color: #ccc;
    font-size: 14px;
    position: absolute;
    top: 140px;
    right: 10px;
}

.add-comments .up .image-wrapper {
    height: 75px;
    margin: 20px;
    display: flex;
}

.add-comments .up .image-wrapper .x-1 {
    width: 120px;
    height: 75px;
    position: relative;
    margin: 0 0 0 20px;
}
.add-comments .up .image-wrapper .x-1:first-child {
    margin: 0;
}
.add-comments .up .image-wrapper .x-1 .span {
    width: 34px;
    height: 34px;
    background: #e55226;
    border-radius: 50%;
    position: absolute;
    top: -17px;
    right: -17px;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}
.add-comments .up .image-wrapper .x-1 .span .icon-heng {
    color: #fff;
    font-size: 20px;
}
.add-comments .up .image-wrapper .add-img {
    width: 120px;
    height: 75px;
    border: 1px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 20px;
    cursor: pointer;
}
.add-comments .up .image-wrapper .add-img .icon-jiahao {
    font-size: 32px;
    color: #ccc;
}




/* 对比栏 */
.comparison-column {
    width: 1180px;
    height: 210px;
    border: 1px solid #ccc;
    position: fixed;
    bottom: 100px;
    left: 50%;
    margin-left: -600px;
    background: #fff;
    z-index: 8;
    display: none;
}
.comparison-column .up-wrapper {
    height: 64px;
    border-bottom: 1px solid #dfdfdf;
    background: #f2f2f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comparison-column .up-wrapper .son {
    width: 148px;
    height: 100%;
    background: #fff;
    color: #b12f2a;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.comparison-column .up-wrapper .son .line-up {
    width: 100%;
    height: 2px;
    background: #b12f2a;
    position: absolute;
    top: -1px;
    left: 0;
}
.comparison-column .up-wrapper .son .line-down {
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.comparison-column .up-wrapper .icon-guanbi {
    width: 24px;
    height: 24px;
    border: 1px solid #959595;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #959595;
    font-size: 12px;
    margin: 0 30px 0 0;
    cursor: pointer;
}

.comparison-column .down-wrapper {
    height: 146px;
    padding: 10px 0;
    display: flex;
    box-sizing: border-box;
}
.comparison-column .down-wrapper .ul {
    height: 100%;
    flex: 1;
    display: flex;
    /*border: 1px solid blue;*/
}
.comparison-column .down-wrapper .ul li {
    width: calc(100% / 3);
    padding: 0 30px;
    border-right: 1px dashed #dfdfdf;
    position: relative;
}
.comparison-column .down-wrapper .ul li .li-1 {
    width: 280px;
    height: 100%;
    /*border: 1px solid red;*/
    position: absolute;
    display: flex;
}
.comparison-column .down-wrapper .ul li .li-1 .bg {
    width: 95px;
    height: 115px;
    background: #f7f7f7;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
}
.comparison-column .down-wrapper .ul li .li-1 p {
    font-size: 14px;
    line-height: 14px;
    color: #999;
    flex: 1;
    margin: 35px 0 0 15px;
}
.comparison-column .down-wrapper .ul li .li-2 {
    width: 280px;
    height: 100%;
    position: absolute;
    display: flex;
}
.comparison-column .down-wrapper .ul li .li-2 img {
    border: 2px solid #b12f2a;
}
.comparison-column .down-wrapper .ul li .li-2 p {
    font-size: 14px;
    line-height: 24px;
    color: #333;
    flex: 1;
    margin: 0 0 0 15px;
    padding: 30px 0 0 0;
}



.comparison-column .down-wrapper .right {
    height: 100%;
    width: 148px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comparison-column .down-wrapper .right .contrast {
    border: 1px solid #b12f2a;
    color: #b12f2a;
    width: 86px;
    height: 46px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px auto;
}

.comparison-column .down-wrapper .right .contrast span {
    font-size: 14px;
    line-height: 14px;
    margin: 0 0 0 5px;
}

.comparison-column .down-wrapper .right .empty {
    font-size: 14px;
    line-height: 14px;
    margin: 10px 0 0 0;
}


.page-wrapper {
    margin: 0 auto 30px;
}








/*
    一级回复框
*/

.level-1-box {
    position: relative;
    z-index: 1;
    height: 165px;
    display: none;
}
.level-1 {
    border-radius: 3px;
    outline: none;
    border: none;
    min-width: 100%;
    max-width: 100%;
    height: 165px;
    box-sizing: border-box;
    color: #999;
    font-size: 14px;
    line-height: 22px;
    padding: 15px;
    resize: none;
    border: 1px solid #dfdfdf;
    overflow: hidden;
    font-family: '微软雅黑'
}

.confirm-1 {
    background: #b8b8b8;
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 8px 15px;
    color: #fff;
    transition: all 0.3s linear;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
}
.confirm-1:hover {
    background: #b12f2a;
    transition: all 0.3s linear;
}
.confirm-2 {
    background: #b8b8b8;
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 8px 15px;
    color: #fff;
    transition: all 0.3s linear;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
}
.confirm-2:hover {
    background: #b12f2a;
    transition: all 0.3s linear;
}

/*
    二级回复框
*/
.level-2-box {
    position: relative;
    z-index: 1;
    height: 165px;
    margin: 20px 0 0 0;
    display: none;
}
.level-2 {
    border-radius: 3px;
    outline: none;
    border: none;
    min-width: 100%;
    max-width: 100%;
    height: 165px;
    box-sizing: border-box;
    color: #999;
    font-size: 14px;
    line-height: 22px;
    padding: 15px;
    resize: none;
    border: 1px solid #dfdfdf;
    overflow: hidden;
    font-family: '微软雅黑'
}

.line-wrapper {
    width: 100%;
    border-bottom: 1px dashed #dfdfdf;
    margin: 20px 0 0 0;
    display: none;
}