@import './header.css';
@import './navigation.css';
@import './commonlist.css';
@import './commontitle.css';
@import './footer.css';
body {
    position: relative;
}
.content{
    width: 1200px;
    margin: 50px auto 50px auto;
    min-height: 670px;
    /* background: cyan; */
    display: flex;
    justify-content: center;
}
.section_img{
    width: 640px;
    margin-right:50px; 
}
.section_img img{
    margin-top: 30px;
}
.section_login{
    width: 580px;
    /* min-height: 300px; */
    /* background: chocolate; */
}
.section_login_con{
    width: 580px;
    min-height: 543px;
    border: 1px solid #dfdfdf;
    margin-top: 20px;
}
.section_login_con_top{
    width: 523px;
    margin: 0px auto 45px auto;
    height:555px;
}
.section_login_con_top h4{
    width: 100%;
    height:88px;
    line-height: 88px;
    color: #4e4e4e;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.phone{
    width: 523px;
    height: 62px;
    line-height: 62px;
    display: flex;
    justify-content: space-between;
}
.phone span{
    width: 86px;
    height: 62px;
    line-height: 62px;
    text-align: center;
    color: #666666;
    font-size: 16px;
}
input[name='tel']{
    width: 437px;
    height: 62px;
    line-height: 62px;
    color: #a7a7a7;
    border: 1px solid #dfdfdf;
    outline: none;
    text-indent: 26px;
    font-size: 14px;
}
.message{
    width: 523px;
    height: 62px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.message span{
    width: 86px;
    height: 62px;
    line-height: 62px;
    text-align: center;
    color: #666666;
    font-size: 16px;
}
input[name='Verification']{
    width: 260px;
    height: 62px;
    line-height: 62px;
    color: #a7a7a7;
    border: 1px solid #dfdfdf;
    outline: none;
    text-indent: 26px;
    font-size: 14px;
    margin-right: 19px;
}
input[name='Obtain']{
    width: 160px;
    height: 65px;
    line-height:65px;
    font-size: 14px;
    border: 1px solid #dfdfdf;
    outline: none;
    text-align: center;
    background: #f2f2f5;
    color: #a5a5a5;
    cursor: pointer;
}
.pass{
    width: 523px;
    height: 62px;
    line-height: 62px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.pass span{
    width: 86px;
    height: 62px;
    line-height: 62px;
    text-align: center;
    color: #666666;
    font-size: 16px;
}
input[name='pass']{
    width: 437px;
    height: 62px;
    line-height: 62px;
    color: #a7a7a7;
    border: 1px solid #dfdfdf;
    outline: none;
    text-indent: 26px;
    font-size: 14px;
}
.sure_pass{
    width: 523px;
    height: 62px;
    line-height: 62px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.sure_pass span{
    width: 86px;
    height: 62px;
    line-height: 62px;
    text-align: center;
    color: #666666;
    font-size: 16px;
}
input[name='sure_pass']{
    width: 437px;
    height: 62px;
    line-height: 62px;
    color: #a7a7a7;
    border: 1px solid #dfdfdf;
    outline: none;
    text-indent: 26px;
    font-size: 14px;
}
.loginup{
    width: 437px;
    height: 130px;
    margin-top: 80px;
    margin-left: 86px;
}
input[name='loginup']{
    width:437px;
    height: 62px;
    line-height: 62px;
    font-size: 14px;
    border: 1px solid #c31821;
    outline: none;
    text-align: center;
    background: #c31821;
    color: #fbf0f0;
    cursor: pointer;
}
.loginup p{
    width: 437px;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    color: #999999;
}
.loginup p span{
    color: #c31821;
    height: 26px;
    line-height: 26px;
    margin-right: 2px;
    display: inline-block;
}
.loginup p a{
    color: #c31821;
    height: 26px;
    line-height: 26px;
    display: inline-block;
}
.loginup>div{
    width: 437px;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    color: #999999;
    text-align: right;
}
.loginup>div>a{
    color: #c31821;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    display: inline-block;
    margin-left: 2px;
}
.section_login_con_bottom{
    width: 580px;
    height: 85px;
    background: #f7f7f7;
}
.section_login_con_bottom_con{
    width:523px;
    height: 85px;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
}
.section_login_con_bottom_con p{
    width: 106px;
    height: 85px;
    line-height: 85px;
    text-align: center;
    color: #8e8e8e;
    font-size: 14px;
}
.section_login_con_bottom_login{
    width: 417px;
    height: 85px;
    display: flex;
    justify-content: space-between;
}
.section_login_con_bottom_login dl{
    width: 139px;
    height: 85px;
    line-height: 85px;
    display: flex;
    justify-content: space-between;
}
.section_login_con_bottom_login dt{
   width: 59px;
   height: 85px;
   line-height: 85px;
   text-align: center;
}
.section_login_con_bottom_login dt img{
   margin-top: 20px;
 }
.section_login_con_bottom_login dd{
    width:80px;
    height: 85px;
    line-height: 85px;
    text-align: left;
    color: #8e8e8e;
    font-size: 14px;
 }
 .model{
     width: 100%;
     height: 100%;
     background: rgba(0,0,0,0.5);
     position: fixed;
     left: 0;
     top: 0;
     bottom: 0;
     right: 0;
     z-index: 22;
     display: none;
 }
 .model_content{
     width: 615px;
     height: 440px;
     background: white;
     position: fixed;
     top: 27%;
     left: 34%;
     text-align: center;
     display: none;
 }
.model_content img{
    margin-top: 30px;
}
.model_content p{
   width: 347px;
   font-size: 18px;
   color: #c31821;
   text-align: center;
   margin: 10px auto 48px auto;
}
.model_button{
    width: 347px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.model_button a {
    width: 150px;
    height: 50px;
    border: 1px solid #999999;
    border-radius: 10px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    color: #999999;
    display: block;
}
.model_button a:hover{
    background: #b1302b;
    color: white;
}


.header-wrapper .nav-wrapper {
    background: #fff;
    box-shadow: none;
}