@import './header.css';
@import './navigation.css';
@import './commonlist.css';
@import './commontitle.css';
@import './commonb.css';
@import './commona.css';
@import './footer.css';

.content {
	width: 1200px;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}
.content .li-2 {
	margin: 35px 0 0 0;
}
.common-theme-2-3 {
	top: -30px;
}
.load-more {
	width: 234px;
	height: 52px;
	background: #b8b8b8;
	font-size: 14px;
	line-height: 52px;
	display: block;
	text-align: center;
	color: #fff;
	margin: 0 auto 50px;
	transition: all 0.3s linear;
}

.load-more:hover {
	background: #b12f2a;
	transition: all 0.3s linear;
}

.content .not-found {
	height: 632px;
	width: 100%;
	background: url(../img/201901140933.png) no-repeat 388px 50px;
}