@import './header.css';
@import './navigation.css';
@import './commonlist.css';
@import './pagelist.css';
@import './footer.css';


.banner-wrapper {
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: center;
	overflow: hidden;
}
.banner-son {
	width: 1200px;
	height: 100%;
	position: relative;
}
.banner-son img {
	position: absolute;
	top: 0;
	left: -360px;
}
.content {
	width: 1200px;
	margin: auto;
	padding: 6px 0 50px;
}


/*推荐攻略*/
.unified-ul {
	width: 1224px;
	position: relative;
	top: 0;
	left: -24px;
	display: flex;
	flex-wrap: wrap;
}
.unified-li {
	/*border: 1px solid blue;*/
	width: 282px;
	height: 340px;
	margin: 20px 0 0 0;
	position: relative;
	top: 0;
	left: 0;
	margin: 24px 0 0 24px;
	transition: all 0.3s linear;
}
.unified-li a {
	position: absolute;
}
.unified-li .a-1 {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #ccc;
}
.unified-li .a-1 .iconfont {
	position: absolute;
	left: 114px;
	top: 124px;
	width: 54px;
	height: 54px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	background: rgba(0,0,0,0.5);
	color: #fff;
}
.unified-li .a-2 {
	width: 100%;
	height: 70px;
	background: rgba(0,0,0,0.3);
	bottom: 0;
	left: 0;
	padding: 5px 15px;
	box-sizing: border-box;
	line-height: 30px;
	font-size: 22px;
	color: #fff;
	transition: all 0.3s linear;
}
.unified-li:hover .a-2{
	background: rgba(0,0,0,0.8);
	color: #b12f2a;
	transition: all 0.3s linear;
}
.unified-li:hover{
	top: -4px;
	box-shadow: 0 0 15px rgba(0,0,0,0.8);
	transition: all 0.3s linear;
}

.page-wrapper {
	margin: 30px auto 0;
}