@import './header.css';
@import './banner.css';
@import './navigation.css';
@import './commonlist.css';
@import './commontitle.css';
@import './commonb.css';
@import './commona.css';
@import './pagelist.css';
@import './footer.css';

.content {
	width: 1200px;
	padding: 50px 0;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
}
.content .li-2 {
	margin: 35px 0 0 0;
}

.common-theme-2-3 {
	top: 0;
}

.page-wrapper {
	margin: 30px 0 0;
}

.product-switching-effect .tab-item li .v-5 {
	width: 205px;
	right: 0;
	top: 545px;
	padding: 0;
	background-position: 0 bottom;
	font-size: 22px;
	line-height: 22px;
	height: 30px;
	color: #333;
}