@import './header.css';
@import './commonb.css';
@import './commonraiders.css';
@import './commonjourna.css';
@import './footer.css';
body{
    background: #dfdfdf;
}
.header-wrapper .nav-wrapper{
    background: #dfdfdf !important;
    box-shadow: none;
}
.content{
    width: 1200px;
    margin: 0 auto;
    background: white;
}
.content_con{
    width: 1100px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 123px;
}
.content_con h4{
    width: 1100px;
    height: 30px;
    line-height: 30px;
    font-size: 22px;
    color: #333333;
    font-family: '微软雅黑';
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 55px;
}
.con_text{
    width: 1100px;
}
.con_text h4{
    width: 1100px;
    min-height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #333333;
    font-family: '微软雅黑';
    font-weight: 700;
    border-bottom: none;
    margin-bottom: 0;
}
.con_text p{
    width: 1100px;
    font-size: 14px;
    color: #666666;
    font-family: '微软雅黑';
    line-height: 24px;
}